{% include 'header_and_footer/header.html' %}
<div class="container pt-5">
    <h1 class="text-center">О нас</h1>
    <h4>История школы</h4>
    <p>Средняя школа №62 основана в 1963 году.</p>
    <p>В 1964 г. построено 1 здание школы с проектной мощностью — 1400 учащихся.</p>
    <p>В 1978 г. 2 здание с проектной мощностью — 960 учащихся.</p>
    <p>В 2009 году школе присвоен статус школы-гимназии № 62, приказ № 957/1, от 09.10.09 г.</p>
    <p>29.12.10 г. школе присвоен статус Учебно-воспитательный комплекс школы-гимназии № 62, приказ № 771/1.</p>
    <p>29.12.15 г. школа прошла аттестацию на статус УВК ШГ №62.</p>

    <h5>Методическая тема школы</h5>
    <blockquote>«Эффективное развитие профильной и предпрофильной модели школы, создание условий для выбора
        разноуровнего обучения в ходе модернизации и информатизации образовательно-воспитательного процесса»
    </blockquote>

    <h5>Миссия гимназии</h5>
    <p>создание единого образовательного пространства, обеспечивающего интеллектуальное, нравственное и творческое
        развитие личности, формирование потребностей гимназистов к самообразованию и саморазвитию, посредством
        взаимодействия основного и дополнительного образования.</p>

    <h5>Численный состав</h5>
    <p>В 2018-2019 учебном году (на начало года) – 3049 учащихся (77 класс-комплектов). Программа «Наристе»
        (предшкольная подготовка) - 2 группы (56 человек).</p>
    <p>В школе работают высокообразованные, хорошо владеющие методикой преподавания специалисты. Всего - 114 педагогов.
        С высшим образованием 99 педагогов, Отличников Образования КР - 38. Членов администрации – 8 человек.</p>

    <h5>Инфраструктура школы</h5>
    <p>В школе 78 учебных кабинетов, 3 спортивных зала, актовый зал, танцевальный зал, библиотека, столовая, спортивная
        площадка, музей. Кабинеты оснащены современными ТСО: мультимедиа проекторами, компьютерами, телевизорами,
        интерактивными досками.</p>

    <p>В школе создается единое информационное пространство, ведется постоянная работа по наполнению контентом сайта
        школы. Гимназия оснащена камерами внутреннего и наружного видеонаблюдения. Охрану жизни и здоровья детей и
        педагогического коллектива осуществляет охранное агентство «Шер групп».</p>

</div>
{% include 'header_and_footer/footer.html' %}
