{% include 'header_and_footer/header.html' %}
<div class="container">
    <div class="background-image">
        <div class="logo-container"></div>
        <div class="text-container">
            <h3>СОШ № 7</h3>
            <p>Средняя общеобразовательная школа Бишкека № 7</p>
        </div>
    </div>
    <div>
        <h2 class="text-center my-3">Новости</h2>
        <div class="row row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="../media/img.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок новости</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../media/img.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок новости</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../media/img.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок новости</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-width-banner my-4">
        <div class="banner-content">
            <h2>Эффективное развитие профильной и предпрофильной модели школы</h2>
            <p>Создание условий для выбора разноуровнего обучения в ходе модернизации и информатизации
                образовательно-воспитательного процесса</p>
        </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto my-3">
        <a class="btn btn-success d-block" href="/apply">Отправить заявку на прием</a>
    </div>
</div>

{% include 'header_and_footer/footer.html' %}
